/* Hide scrollbar for Chrome, Safari and Opera */
.snippet-page-activity::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.snippet-page-activity {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
